/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app-container {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff3e0;
  border-radius: 12px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h2
  {
  color: #e65100;
  margin-bottom: 20px;
}
.food-list {
  list-style: none;
  padding: 0;
}
.food-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffe0b2;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}
.love-btn {
  background-color: #ff7043;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}